.action {
    -fx-text-fill: firebrick;
    -fx-background-color: ivory;
    -fx-font-size: 2em;
    -fx-min-width: 100;
    -fx-min-height: 50;
}

#num {
    -fx-text-fill: khaki;
    -fx-font-weight: 900;
    -fx-font-size: 2.5em;
    -fx-padding: 5;
}

#backpack {
    -fx-background-image: url("../images/wooden-box.png");
}